<div class="losb-block">
	<div class="losb-header">
		<span class="losb-title">Интернет-магазин товаров</span>
		<ul class="losb-menu">
			<div class="footer_head">
			<span class="losb-menu-element active" data-id="1">Меню 1</span>
			<span class="losb-menu-element" data-id="2">Меню 2</span>
			</div>
		</ul>
	</div>
	<div class="losb-body">
		<div class="losb-content active" data-id="losb-content-1">
			<div class="losb-content-level-left">
				<div class="losb-menu-element-sub active" data-id="1">Саб-Меню Вариант 1</div>
				<div class="losb-menu-element-sub" data-id="2">Саб-Меню Вариант 2</div>
				<div class="losb-menu-element-sub" data-id="3">Саб-Меню Вариант 3</div>
			</div>
			<div class="losb-content-level-right">
				<div class="losb-content-sub active" data-id="losb-content-sub-1">
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Тип 1</a>
						<a class="losb-link" href="#">Вариант 2</a>
						<a class="losb-link" href="#">Вариант 3</a>
					</div>
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Тип 2</a>
						<a class="losb-link" href="#">Вариант 5</a>
						<a class="losb-link" href="#">Вариант 6</a>
					</div>
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Тип 3</a>
						<a class="losb-link" href="#">Вариант 8</a>
						<a class="losb-link" href="#">Вариант 9</a>
					</div>
				</div>
				<div class="losb-content-sub" data-id="losb-content-sub-2">
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Тип 4</a>
						<a class="losb-link" href="#">Вариант 11</a>
						<a class="losb-link" href="#">Вариант 12</a>
					</div>
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Тип 5</a>
						<a class="losb-link" href="#">Вариант 14</a>
						<a class="losb-link" href="#">Вариант 15</a>
					</div>
				</div>
				<div class="losb-content-sub" data-id="losb-content-sub-3">
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Вариант 16</a>
						<a class="losb-link" href="#">Вариант 17</a>
						<a class="losb-link" href="#">Вариант 18</a>
						<a class="losb-link" href="#">Вариант 19</a>
						<a class="losb-link" href="#">Вариант 20</a>
						<a class="losb-link" href="#">Вариант 21</a>
						<a class="losb-link" href="#">Вариант 22</a>
						<a class="losb-link" href="#">Вариант 23</a>
					</div>
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Вариант 24</a>
						<a class="losb-link" href="#">Вариант 25</a>
						<a class="losb-link" href="#">Вариант 26</a>
						<a class="losb-link" href="#">Вариант 27</a>
						<a class="losb-link" href="#">Вариант 28</a>
						<a class="losb-link" href="#">Вариант 29</a>
						<a class="losb-link" href="#">Вариант 30</a>
						<a class="losb-link" href="#">Вариант 31</a>
					</div>
					<div class="losb-menu-result">
						<a class="losb-link" href="#">Вариант 32</a>
						<a class="losb-link" href="#">Вариант 33</a>
						<a class="losb-link" href="#">Вариант 34</a>
						<a class="losb-link" href="#">Вариант 35</a>
						<a class="losb-link" href="#">Вариант 36</a>
						<a class="losb-link" href="#">Вариант 37</a>
						<a class="losb-link" href="#">Вариант 38</a>
						<a class="losb-link" href="#">Вариант 39</a>
						<a class="losb-link" href="#">Вариант 40</a>
					</div>
				</div>
			</div>
		</div>
		<div class="losb-content" data-id="losb-content-2">
			<div class="losb-content-level-basic">
				<div class="losb-menu-result">
					<a class="losb-link" href="#">Тип 6</a>
					<a class="losb-link" href="#">Вариант 42</a>
					<a class="losb-link" href="#">Вариант 43</a>
					<a class="losb-link" href="#">Вариант 44</a>
					<a class="losb-link" href="#">Вариант 45</a>
					<a class="losb-link" href="#">Вариант 46</a>
					<a class="losb-link" href="#">Вариант 47</a>
					<a class="losb-link" href="#">Вариант 48</a>
				</div>
				<div class="losb-menu-result">
					<a class="losb-link" href="#">Тип 7</a>
					<a class="losb-link" href="#">Вариант 50</a>
					<a class="losb-link" href="#">Вариант 51</a>
					<a class="losb-link" href="#">Вариант 52</a>
					<a class="losb-link" href="#">Вариант 53</a>
					<a class="losb-link" href="#">Вариант 54</a>
					<a class="losb-link" href="#">Вариант 55</a>
					<a class="losb-link" href="#">Вариант 56</a>
				</div>
				<div class="losb-menu-result">
					<a class="losb-link" href="#">Тип 8</a>
					<a class="losb-link" href="#">Вариант 58</a>
					<a class="losb-link" href="#">Вариант 59</a>
					<a class="losb-link" href="#">Вариант 60</a>
					<a class="losb-link" href="#">Вариант 61</a>
					<a class="losb-link" href="#">Вариант 62</a>
					<a class="losb-link" href="#">Вариант 63</a>
					<a class="losb-link" href="#">Вариант 64</a>
					<a class="losb-link" href="#">Вариант 65</a>
				</div>
			</div>
		</div>
	</div>
</div>
