@media (max-width:600px) {
            .losb-content.active {
                height: 200px;
            }
            .losb-body {
                height: 300px;
            }
            .losb-content-level-basic{
                overflow-y:scroll;
                height:300px;
            }
            .losb-content-level-basic::-webkit-scrollbar{
                display:none;
            }
            .active,
            .losb-menu-result {
                width: auto !important;
            }
            .losb-menu{
                margin:0 !important;
            }
            .footer_head {
                overflow-x: scroll;
                width: 100%;
                max-width: 95%;
                white-space: nowrap
            }
            .footer_head::-webkit-scrollbar {
                width:0px;
            }
            .losb-menu {
                margin: 0
            }
            .losb-content-level-left {
                width: 100%!important;
                padding-left:0 !important;
                vertical-align: top !important;
                border-bottom: 1px solid #d3d3d3;
                border-right: none !important;
                overflow-y: scroll;
                max-height: 110px
            }
            .losb-content-level-right {
                overflow-y: scroll;
                max-height: 100px;
                width: 100% !important;
                margin-top:10px;
            }
            .losb-menu-element-sub.active {
                border: none
            }
        }

        @media (min-width:1024px) {
            .losb-body {
                max-height: 100px;
            }
            .losb-content-level-basic{
                display:inline-block;
                overflow-y:scroll;
                height:100px;
            }
            .losb-content-level-basic::-webkit-scrollbar{
                display:none;
            }
            .block-footer {
                padding-left: 15%;
                padding-right: 15%;
            }
            .active #top_menu_position {
                display: inline-block;
                position: absolute;
            }
            .losb-content-level-right {
                width: 650px;
                height: 100px;
                overflow-y: scroll;
                padding-left: 10px
            }
            .losb-content-level-right::-webkit-scrollbar{
                display:none;
            }
            .losb-content-level-left {
                overflow-y: scroll;
                height:100px;
            }
            .losb-body {
                margin-left: 100px;
                margin-right: 100px;
            }
            
            .footer-link {
                color: white;
                font-size: 11px;
            }

            #top_filters {
                display: grid;
                grid-auto-flow: column;
            }

            #top_cart {
                display: grid;
                grid-auto-flow: column;
            }

            #top_request {
                display: grid;
                grid-auto-flow: column;
            }
        }

        .block-footer::-webkit-scrollbar {
            width:0px;
        }
        .losb-content-level-left::-webkit-scrollbar {
            width:0px;
        }


        .losb-link {
            display: block;
            font-size: 13px;
            font-style: normal;
            padding: 2px 0;
            line-height: 16px;
            text-decoration: none;
            color: #248081;
            transition: .3s;
        }

        .losb-link:hover {
            color: #df3f11;
        }

        .losb-menu-result {
            display: inline-grid;
            width: auto;
            padding-right: 20px;
            white-space: normal
        }

        .losb-content-sub {
            height: 0;
            overflow: hidden
        }

        .losb-content-sub.active {
            height: auto;
            overflow: auto
        }

        .losb-menu-element-sub {
            display: block;
            font-size: 12px;
            font-style: normal;
            padding: 2px 0;
            line-height: 16px;
            cursor: pointer;
            color: #248081;
            transition: .3s
        }

        .losb-content-sub {
            font-size: 12px;
            font-style: normal;
            line-height: 16px;
            cursor: pointer;
            color: gray;
            transition: .3s
        }

        .losb-content-sub,
        .losb-menu-element-sub:hover {
            color: #000
        }

        .losb-menu-element-sub.active {
            color: black;
            border-right: 2px solid #000
        }

        .losb-content-level-basic {
            padding-left: 3px
        }

        .losb-content-level-left {
            width: 250px;
            padding-left: 3px;
            vertical-align: top;
            border-right: 1px solid #d3d3d3
        }

        .losb-content-level-left,
        .losb-content-level-right {
            display: inline-grid
        }

        .losb-menu {
            text-align: center;
            margin: 0 0 15px;
            padding: 0;
            padding-top: 10px;
            list-style-type: none
        }

        .losb-menu-element {
            border-radius: 3px;
            z-index: 1;
            position: relative;
            height: 24px;
            border: 1px solid #248081;
            color: #248081;
            background-color: hsl(0deg 0% 0% / 0%);
            display: inline-grid;
            margin: 0;
            padding: 0 15px;
            line-height: 24px;
            font-size: 12px;
            margin-left: 0;
            text-decoration: none;
            cursor: pointer;
            vertical-align: middle
        }

        .losb-menu-element.active {
            border: 1px solid black;
            color: black
        }

        .losb-content-sub {
            font-size: 14px
        }
        .top-menu-losb-link{
            display: block;
            font-size: 13px;
            font-style: normal;
            padding: 2px 0;
            line-height: 16px;
            text-decoration: none;
            color: #248081;
            transition: .3s;
        }
        .top-menu-losb-link:hover{
            color: #df3f11;
        }
        .losb-title {
            margin: 24px 0 12px;
            padding: 0;
            line-height: 28px;
            font-weight: 500;
            font-size: 24px
        }
        .losb-content {
            height: 0;
            overflow: hidden
        }
        .losb-content.active {
            height: auto;
            overflow: auto
        }
